{
    "configurations": [
        {
            "name": "",
            "compilerPath": "",
            "intelliSenseMode": "",
            "cStandard": "",
            "cppStandard": ""
        }
    ],
    "version":
}